/* @theme custom */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'default';

:root {
  background-color: #ffd4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-wrap: balance;
}

h1, h2 {
  color: #03191E;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: black;
  font-size: 3.2rem;
}

h2 {
  margin-top: 0;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2rem;
}

h3 {
  color: #d23728;
}

p, li {
  font-size: 1rem;
}

ol li::marker {
  font-weight: 900;
}

blockquote {
  border-color: #e9c7c6;
}

blockquote p {
  font-size: .8rem;
}

.lo {
  padding: .1rem .6rem;
  border-radius: 1rem;
  display: inline-block;
  margin: .2rem 0;
}

table {
  font-size: .8rem;
}

table thead tr th {
  background-color: rgba(255, 255, 255, 1);
  padding: .4rem .8rem;
  text-align: left;
}

table tr td {
  background-color: rgba(255, 255, 255, .1);
  padding: .6rem .8rem;
}

table tr:nth-child(odd) td {
  background-color: rgba(200, 200, 200, .2);
}

span {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #999;
  border-radius: 200px;
  margin: .1rem;
  display: inline-block;
}

strong span {
  padding:  .2rem .75rem;
}

h2 span {
  padding:  .2rem 1.1rem;
}

span + span {
  background-color: transparent;
  color: #234;
  font-weight: 300;
  letter-spacing: 0;
}

section.learning-objectives p {
  display: flex;
  align-items: start;
  gap: 1rem;
  font-size: .8rem;
}

section.learning-objectives p span:first-child {
  /* margin-right: 1rem; */
  padding:  .2rem .5rem;
  min-width: 9%;
}

.c1 {
  color: #fff;
  background-color: transparent;
  font-size: 12rem;
  position: absolute;
  display: inline-block;
  margin-top: -.55em;
  margin-left: .2em;
  text-shadow: rgba(255,73,158,1) 0 0 1.4rem;
}

.lo-20 {
  background-color: #01BAEF;
}

.lo-21 {
  background-color: #DE6449;
}

.lo-22 {
  background-color: #791E94;
}

.lo-23 {
  background-color: #026C7C;
  /* color: #234; */
}

.lo-24 {
  background-color: #1647c3;
  /* color: #234; */
}

.lo-25 {
  background-color: #ff00ff;
  /* color: #234; */
}

section p:has(>img) {
 text-align: center;
}

section.img h2 {
  text-align: center;
}